/* #9fa6b6 cor de fundo do card do corpo */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #a8b4b2;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: #dbdbea;
    border-bottom: 1px solid #48636f;
    padding: 10px;
    align-items: center;
    position: relative;
}
.titulo {
    font-size: 25px;
    font-weight: bold;
}

.navbar-top ul li {
    display: inline-block;
    padding: 10px;
    align-items: center;
}
.navbar-top a {
    text-decoration: none;
    color: black;
}

#botaoNav {
    border: none;
    border-radius: 60px;
    background: #484ca4;
    color: white;
    cursor: pointer;
    padding: 15px;
}

.container {
    display: flex;
    gap: 22px;
    padding: 12px;
}

.corpo {
    padding: 5px;
    border: 2px solid black;
    background: linear-gradient(rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
}

.popup {
    display: none; /* Inicialmente escondido */
    position: absolute;
    top: 15%;
    left: 80%;
    background-color: rgba(255, 97, 97, 0.7);
    color: red;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* popup sucesso background-color: rgba(96, 254, 22, 0.7) */
/* popup erro background-color: rgba(255, 97, 97, 0.7) */